<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="LogLevel" value="Debug" />
        <add key="LogName" value="WebTest" />
        <add key="BaseUrl" value="https://www.google.com" />
        <add key="DriverServerLocation" value="" />
        <add key="Timeout" value="10" />
        <add key="OutputFileDirectory" value="C:\Developer\TestResults\NUnit\" />
        <add key="OutputFileScreenshotsDirectory" value="C:\Developer\TestResults\NUnit\ScreenshotsDirectory\" />
        <add key="LoginWaitTime" value="1" />
        <add key="NavigateToBasePage" value="false" />
        <add key="ForceKillProcess" value="true" />
        <add key="Headless" value="false" />
        <add key="BrowserType" value="chrome" />
        <add key="BrowserProfile" value="default" />
        <add key="EnableDetailedLogging" value="false" />
    </appSettings>
</configuration>